$primary-color: hsl(0, 0%, 100%);
$main-text-color: hsl(218, 44%, 22%);
$text-color: hsl(212, 45%, 89%);
$background-color: hsl(220, 15%, 55%);

body {

    background: $background-color;
}

h1 {

    color: $main-text-color;
}

p {

    color: $text-color;
}