$primary-color: hsl(0, 0%, 100%);
$main-text-color: hsl(218, 44%, 22%);
$background-color: hsl(212, 45%, 89%);
$text-color: hsl(220, 15%, 55%);

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {

    background: $background-color;
}

#qr-code {

    grid-area: image;
    width: 90%;
    height: 90%;
    border-radius: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
}

h1 {

    color: $main-text-color;
    grid-area: header;
    text-align: center;
    line-height: 1.1;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 5px;
}

p {

    color: $text-color;
    text-align: center;
    grid-area: info;
    line-height: 1.2;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 5px;
}

.box-container {

    display: grid;
    height: 100vh;
    place-content: center;
}

.box-1 {

    display: grid;
    background-color: $primary-color;
    border-radius: 15px;
    grid-template-areas: "image" "header" "info";
    grid-template-rows: 300px 75px 100px;
    grid-template-columns: 100%;
    width: 300px;
}

/* Media Querys for phone (450px), Tablet (768px), Desktop (1325px) */

@media (max-width: 450px) {

    h1 {

        font-size: 20px;
    }

    p {

        font-size: 13px;
    }

}
